<nav id="gnb">
    <div class="inner">
        <div>
            <button class="menu_btn"><img src="/asset/img/mobile/menu.png" alt=""></button>
            <h1><a href="/"><img src="/asset/img/mobile/mobile_logo.png" alt="메인로고" class="main-logo"></a></h1>
            <div class="menu">
                <ul>
                    <li class="facebook"><a href="https://www.facebook.com/formelcamele" target="_blank"><img src="/asset/img/mobile/facebook.png" alt=""></a></li>
                    <li class="insta"><a href="https://www.instagram.com/formelcamele/" target="_blank"><img src="/asset/img/mobile/insta.png" alt=""></a></li>
                    <li class="cart"><a href="http://www.lfsquare.com/goods/brand?code=0218" target="_blank"><img src="/asset/img/mobile/cart.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="menu-text animated">
            <ul>
                <li>
                    <a href="/main/brand_story">ABOUT BRAND</a>
                    <ul class="sub-item">
                        <li><a href="/main/brand_story">#Brand Story</a></li>
                        <li><a href="/main/shop_info">#Shop Info</a></li>
                        <li><a href="http://www.lfsquare.com/goods/brand?code=0218" target="_blank">#E-shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/main/campaign" >CAMPAIGN 2017</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="menu-bg animated"></div>
</nav>
