<div id="sample_layer" class="sl_layer">
    <div class="layer-bxslider-wrap">
        <ul class="layer-bxslider">
            <?php for ( $i = 1; $i <= 11; $i++ ) : ?>
                <li><img src="/upload/campaign<?=$i?>.jpg" alt=""></li>
            <?php endfor; ?>
        </ul>
    </div>
    <div class="closeBox2">
        <p class="closeRight closeBtn"><a href="#!;"><img src="/asset/img/close_btn.png" alt="btnclose" /></a></p>
    </div>
</div>
<div class="simple_layer_bg"></div>
</body>
</html>