<nav id="gnb">
    <div class="inner">

        <div class="white">
            <h1><a href="/"><img src="/asset/img/menu/main_logo.png" alt="메인로고"></a></h1>
            <div class="menu">
                <ul>
                    <li class="menu menu_btn"><img src="/asset/img/menu/menu_btn.png" alt=""></li>
                    <li class="facebook"><a href=""><img src="/asset/img/menu/facebook.png" alt=""></a></li>
                    <li class="insta"><a href=""><img src="/asset/img/menu/insta.png" alt=""></a></li>
                    <li class="cart"><a href=""><img src="/asset/img/menu/cart.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="black">
            <h1><a href="/"><img src="/asset/img/menu/main_logo_over.png" alt="메인로고"></a></h1>
            <div class="menu">
                <ul>
                    <li class="menu menu_btn"><a href="#" class="menu-toggle"><img src="/asset/img/menu/menu_btn_over.png" alt=""></a></li>
                    <li class="facebook"><a href="https://www.facebook.com/formelcamele" target="_blank"><img src="/asset/img/menu/facebook_over.png" alt=""></a></li>
                    <li class="insta"><a href="https://www.instagram.com/formelcamele/" target="_blank"><img src="/asset/img/menu/insta_over.png" alt=""></a></li>
                    <li class="cart"><a href="http://www.lfsquare.com/goods/brand?code=0218" target="_blank"><img src="/asset/img/menu/cart_over.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="menu-text animated">
            <ul>
                <li>
                    <a href="/main/brand_story">ABOUT BRAND</a>
                    <ul class="sub-item">
                        <li><a href="/main/brand_story">#Brand Story</a></li>
                        <li><a href="/main/shop_info">#Shop Info</a></li>
                        <li><a href="http://www.lfsquare.com/goods/brand?code=0218" target="_blank">#E-shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="callLayerBtn">CAMPAIGN 2017</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="menu-bg animated"></div>
</nav>
